.about {
  &__tech1,
  &__tech2 {
    display: inline-block;
    font-size: 13px;
    line-height: 3.8;
    list-style: none;
    width: 115px;
    padding-left: 42px;
    text-align: left;

    @include media($tablet) {
      margin: 10px;
    }

  }

  &__tech1 { background: url('../images/tech1.png') no-repeat scroll left 10px / 30px }
  &__tech2 { background: url('../images/tech2.png') no-repeat scroll left 10px / 30px }

  &__link {
    @include transition(all .8s ease);
    display: inline-block;
    padding-bottom: 10px;
    padding: 5px 10px;
    text-decoration: none;
    width: 150px;
    color: $light-blue;
    border: 1px solid $light-purple;
    margin-top: 20px;
    width: 100%;

    &:hover {
      color: lighten($light-blue, 10%);
      background: $light-purple;
    }
  }

  &__bio {
    @include span-columns(3 of 12);
    text-align: center;

    @include media($tablet) {
      @include span-columns(12 of 12);
    };

    img { max-width: 170px; }
  }

  &__text {
    float: left;
    width: 100%;
    font-size: 16px;
    text-align: left;
    min-height: 143px;

    b {
      display: block;
      margin-bottom: 10px;
    }
  }

  &__project {
    margin-top: 10px;
    float: left;
    padding: 20px 0px;
    width: calc(100%/3 - 60px);
    margin: 30px;

    @include media($tablet) {
      width: calc(100%/2 - 60px);
    }

    @include media($mobile) {
      width: calc(100% - 60px);
    }

    img {
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__chat {
    background: url('../images/r_line.svg') no-repeat scroll center top;
    padding-top: 50px;
    margin-top: -2px;
  }

  &__col {
    @include span-columns(9 of 12);
    text-align: center;
    padding: 0;
    @include media($tablet) {
      @include span-columns(12 of 12);
    };
  }

  &__title {
    margin: 0;
    display: block;
    float: left;
    width: 100%;
    font-size: 24px;
    color: rgb(236, 7, 247);
    border-bottom: 1px dashed rgba(203, 30, 233, 0.38);
    padding-bottom: 24px;
    text-align: center;

    @media only print  { display: none; }
  }

  &__subtitle {
    margin-top: 12px;
    display: inline-block;
    font-size: 20px;
    width: 80%;
    margin: 0 auto;
    padding-top: 24px;
    opacity: .9;
  }

  &__languages {
    margin-top: 10px;
    float: left;
    padding: 0;
    width: calc(100%/3 - 60px);
    margin: 30px;

    @include media($mobile) {
      width: calc(100% - 60px);
      margin: 30px 0 0 30px;
      padding-bottom: 20px;
    }
  }
}
