.about {
  &__tech1,
  &__tech2 {
    padding: 0;
    list-style: none;
    float: left;
    width: 50%;
    line-height: 3.8;
    text-align: left;
    padding-left: 42px;
    font-size: 13px;

  }

  &__tech1 { background: url('../images/tech1.png') no-repeat scroll left 10px / 30px }
  &__tech2 { background: url('../images/tech2.png') no-repeat scroll left 10px / 30px }

  &__link {
    @include transition(all .8s ease);
    display: inline-block;
    padding-bottom: 10px;
    padding: 5px 10px;
    text-decoration: none;
    width: 150px;
    color: $light-blue;
    border: 1px solid $light-purple;
    margin-top: 20px;
    width: 100%;

    &:hover {
      color: lighten($light-blue, 10%);
      background: $light-purple;
    }
  }

  &__bio {
    @include span-columns(3 of 12);
    text-align: center;

    img { max-width: 170px; }
  }

  &__text {
    float: left;
    width: 100%;
    font-size: 16px;
    text-align: left;
    min-height: 135px;
  }

  &__project {
    margin-top: 10px;
    float: left;
    padding: 20px 0px;
    width: calc(100%/3 - 60px);
    margin: 30px;

    img {
      float: left;
      width: 100%;
      margin-bottom: 20px;
    }
  }

  &__chat {
    background: url('../images/r_line.svg') no-repeat scroll left top;
    padding-top: 50px;
    margin-top: -12px;
  }

  &__col {
    @include span-columns(9 of 12);
    text-align: center;
    padding: 0;
  }

  &__title {
    margin: 0;
    display: block;
    float: left;
    width: 100%;
    font-size: 24px;
    color: rgb(236, 7, 247);
    border-bottom: 1px dashed rgba(203, 30, 233, 0.38);
    padding-bottom: 24px;
    text-align: center;
  }

  &__languages {
    margin-top: 10px;
    float: left;
    padding: 0;
    width: calc(100%/3 - 60px);
    margin: 30px;
  }
}
