.header {
  background: rgba($purple, .8);
  position: relative;
  height: 60px;

  &::after {
    @include linear-gradient($pink, $light-purple);
    bottom: 0;
    color: transparent;
    content: '';
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
}
