.menuDesktop {
  float: right;
  margin-top: 10px;
  @include media($tablet){
    display: none;
  }
}

.menu__item {
  display: inline-block;
  color: $white;
  margin-left: 20px;
  text-decoration: none;
  padding-bottom: 15px;
  margin-top: 8px;
}
