.project {
  &__backLink {
    background: url('../images/line.png') no-repeat scroll left bottom / 100% auto;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 26px;
    text-decoration: none;
    width: 150px;
    color: $light-blue;
    margin-left: -26px;
    margin-top: 25px;

    &:hover {
      color: lighten($light-blue, 10%);
    }
  }

  &__description {
    @include omega();
    @include span-columns(4 of 12);
  }

  &__gallery {
    @include omega();
    @include span-columns(8 of 12);

    img { width: 100%; }
  }

  &__image {
    max-width: 100%;
    margin-bottom: 20px;
  }
}
