.project {
  &__backLink {
    background: url('../images/line.png') no-repeat scroll left bottom / 100% auto;
    display: inline-block;
    padding-bottom: 10px;
    padding-left: 26px;
    text-decoration: none;
    width: 150px;
  }
}
