@import 'bourbon';
@import 'neat';

@import './base/variables';

.redBg {
    @include span-columns(6);
    @include linear-gradient($red, #2989d8);
    background-color: $red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
