@media screen and (min-width: 40em){
  .hamburguer { display: none; }
}

@media screen and (max-width: 40em){
  .hamburguer {  display: block; }
}

.entire-menuMobile {
  position: absolute;
  padding: 20px;
  width: 100%;
}

.hamburguer {
  width: 40px;
  height: 30px;
  background: none;
  margin: 0 0 10px 0;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 9000;
  outline: none;
  border: 0;
}

.hamburguer:after, .hamburguer:before, .hamburguer span {
  content: ' ';
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
  left: 0;
  position: absolute;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.hamburguer:before {
  top: 0;
}
.hamburguer:after {
  bottom: 0;
}
.hamburguer:focus {
  outline: none;
}

.hamburguer span {
  top: 13px;
}

.hamburguer--is-open:before, .hamburguer--is-open:after {
  top: 10px;
  margin-top: 0;
}
.hamburguer--is-open:before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburguer--is-open:after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburguer--is-open span {
  opacity: 0;
}

.menuMobile.hamburguer--is-open {
  width: 200px;
}

.menuMobile {
  position: fixed;
  right: 0;
  max-height: 0;
  background-color: rgba(254, 1, 240, 0.3);
  background-image: -webkit-linear-gradient(-251deg, rgba(254, 1, 240, 0.3), rgba(27, 36, 97, 0.7));
  background-image: -webkit-linear-gradient(109deg,rgba(254, 1, 240, 0.3), rgba(27, 36, 97, 0.7));
  background-image: -o-linear-gradient(109deg,rgba(254, 1, 240, 0.3), rgba(27, 36, 97, 0.7));
  background-image: linear-gradient(-19deg,rgba(254, 1, 240, 0.3), rgba(27, 36, 97, 0.7));
  background-color: rgba(0, 0, 0, 1);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  overflow: hidden;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 0;
  height: 100vh;
  min-height: 100vh;
  top: 0;
  z-index: 100;
  padding-top: 60px;
}
.menuMobile a {
  text-decoration: none;
  color: #fff;
  padding: 8px 10px;
  display: block;
  text-transform: uppercase;
  border-top: 1px solid rgba(0,0,0,0.2);
  padding-top: 15px;
}
