@import 'bourbon';
@import 'neat';

.redBg {
    @include span-columns(6);
    @include linear-gradient(#1e5799, #2989d8);
    background-color: red;
    border-radius: 5px;
    color: white;
    padding: 5px;
}
